---
layout: post
title: Team
---

{% include header.html %}



    <!-- Main jumbotron for a primary marketing message or call to action -->
<div data-ref="#team-link" />

   <div class = "row" id = "team-juste">
     <div class = "col-lg-10 col-md-offset-1">
      <div class="hero-unit" >
        <div class="container img-left">
          <div class="jumbotron team-profile img-left">
            <img class="pull-left team-image img-circle" id="team-juste-image" src= "/img/juste-photo.png">
            <div class = "team-blurb img-left">
              <h2>Juste Paulauskaite</h2>
              <p>
              Juste is a final year archtect hailing from latvia. She has <em>expertise in design and graphic design</em> composition. Holds the experience in interface design and visual presentation development.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- col -->
  </div>

   <div class = "row" id = "team-brice">
     <div class = "col-lg-10 col-md-offset-1">
      <div class="hero-unit">
        <div class="container img-right">
          <div class="jumbotron team-profile img-right">
            <div class = "team-blurb img-right pull-left">
              <h2>Brice Fernandes</h2>
                <p>
                Engineer with expertise in multiple domains, from embedded to data analytics. <em>Proven experience in</em> performance metrics, automation and evidence based management. 
                </p>
                </div>
            <img class="pull-right team-image img-circle" id="team-brice-image" src= "/img/brice-photo.png">
            </div>
          </div>
        </div>
      </div> <!-- col -->
    </div> <!-- row --> 
  

   <div class = "row" id = "team-joseph">
     <div class = "col-lg-10 col-md-offset-1">
      <div class="hero-unit" >
        <div class="container img-left">
          <div class="jumbotron team-profile img-left">
            <img class="pull-left team-image img-circle " src= "/img/joe-photo.png" id="team-joe-image">
            <div class = "team-blurb img-left">
              <h2>Joseph Finlayson</h2>
              <p>
              Currently working at the world’s largest consultancy firm. Majority of working life spent optimising and defining complex processes. <em>Can also code.</em> 
            </p>
            </div>
            <!-- <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
          </div>

        </div>
      </div>
    </div> <!-- col -->
  </div>

   
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>The App</h2>
          <p>Learn more about how processed could help your business</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>The Team</h2>
          <p>Learn more about the team behing processed</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Get in touch</h2>
          <p>Give us a call!</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
{% include footer.html %}