---
layout: post
title: Home
---

{% include header.html %}


    <!-- Main jumbotron for a primary marketing message or call to action -->

<div data-ref="#about-link" />
   <div class = "row">
     <div class = "col-lg-6 col-lg-offset-1">
      <div class="hero-unit" >
        <div class="jumbotron">
          <div class="container">
            <h1>Streamline your business!</h1>
            <p>Processed is an app that democratises your corporate information. By leveraging tools common to your business it allows your employees to collaborate like never before.</p><p> Watch the video for more!</p>
            <!-- <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
          </div>
        </div>
      </div>
    </div> <!-- col -->

    <div class = "col-lg-4">
    <div id = "processed-video">
      <iframe  width="480" height="320" src="//www.youtube.com/embed/XMmDNJlKlaI?rel=0" frameborder="0" allowfullscreen >
      </iframe>
    </div>
    </div>
  </div> <!-- row -->
   
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>The App</h2>
          <p>Learn more about how processed could help your business</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>The Team</h2>
          <p>Learn more about the team behing processed</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Get in touch</h2>
          <p>Give us a call!</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>

{% include footer.html %}